h1 {
    text-align: center;
}

.temp {
border-style: solid;
padding: .4rem;

}

p {
    text-align: center;
}



/* Flex container */

.flex-container {
    display: flex;
    flex-direction: row;
    

}